extends ../layout

block content
  
  h4
    a(href="/") Home
  h2 Enter a 
    a(href="/albums/new") New Album
  h3 Current Albums
  table
    thead
      tr
        th Artist
        th Album Name
        th Year
        th Genre
        th
    tbody
      for album in allAlbums
        tr
          td= album.artist
          td
            a(href='/albums/' + album._id)= album.name  
          td= album.year
          td= album.genre
          td
            a(href='/albums/' + album._id + '/delete/') Delete
